<!DOCTYPE html>
<html>
  <head>
    <title>Bulletin Board 1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <a href="/"> Bulletin Board </a>
    </nav>

    <hr>

    <% if notice.present? %>
      <div>
        <%= notice %>
      </div>
    <% end %>

    <% if alert.present? %>
      <div>
        Title can't be blank, Body can't be blank, and Expires on can't be blank
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
